.jumbotron {
    padding-top: 6rem;
    background-color: #8c68cec9;
}

#Projects {
    padding-top: 8rem;
    background-color: #8c68cec9;
}

#About {
    padding-top: 15rem;
}

#Contact {
    padding-top: 10rem;
}